In [309]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [310]:
%cd /content/drive/MyDrive/Machine_Learnin/

/content/drive/MyDrive/Machine_Learnin

#**Import libraries**

In [311]:
import numpy as np     
import pandas as pd     

# To plot
import matplotlib.pyplot as plt  
%matplotlib inline        
import seaborn as sns


from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder

## **Read** **files**

In [312]:
df_train_set_value = pd.read_csv('TrainingSetValues.csv')
df_train_labels_value = pd.read_csv('TrainingSetLabels.csv')
df_test_set_value =pd.read_csv('TestSetValues.csv')

In [313]:
df_train_set = df_train_set_value.copy()
df_train_labels =df_train_labels_value.copy()
df_test_set =df_test_set_value.copy()

In [314]:
df_train_set.shape

(59400, 40)

In [315]:
df = pd.merge(df_train_labels, df_train_set, how = 'inner')

## **Data cleaning**

In [316]:
df.head()

      id    status_group  ...              waterpoint_type waterpoint_type_group
0  69572      functional  ...           communal standpipe    communal standpipe
1   8776      functional  ...           communal standpipe    communal standpipe
2  34310      functional  ...  communal standpipe multiple    communal standpipe
3  67743  non functional  ...  communal standpipe multiple    communal standpipe
4  19728      functional  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   status_group           59400 non-null  object
 2   amount_tsh             59400 non-null  float64
 3   date_recorded          59400 non-null  object
 4   funder                 55765 non-null  object
 5   gps_height             59400 non-null  int64
 6   installer              55745 non-null  object
 7   longitude              59400 non-null  float64
 8   latitude               59400 non-null  float64
 9   wpt_name               59400 non-null  object
 10  num_private            59400 non-null  int64
 11  basin                  59400 non-null  object
 12  subvillage             59029 non-null  object
 13  region                 59400 non-null  object
 14  region_code            59400 non-null  int64
 15  district_code          59400 non-null  int64
 16  lga                    59400 non-null  object
 17  ward                   59400 non-null  object
 18  population             59400 non-null  int64
 19  public_meeting         56066 non-null  object
 20  recorded_by            59400 non-null  object
 21  scheme_management      55523 non-null  object
 22  scheme_name            31234 non-null  object
 23  permit                 56344 non-null  object
 24  construction_year      59400 non-null  int64
 25  extraction_type        59400 non-null  object
 26  extraction_type_group  59400 non-null  object
 27  extraction_type_class  59400 non-null  object
 28  management             59400 non-null  object
 29  management_group       59400 non-null  object
 30  payment                59400 non-null  object
 31  payment_type           59400 non-null  object
 32  water_quality          59400 non-null  object
 33  quality_group          59400 non-null  object
 34  quantity               59400 non-null  object
 35  quantity_group         59400 non-null  object
 36  source                 59400 non-null  object
 37  source_type            59400 non-null  object
 38  source_class           59400 non-null  object
 39  waterpoint_type        59400 non-null  object
 40  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [318]:
df.isna().sum()

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [319]:
df.describe()

                 id     amount_tsh  ...    population  construction_year
count  59400.000000   59400.000000  ...  59400.000000       59400.000000
mean   37115.131768     317.650385  ...    179.909983        1300.652475
std    21453.128371    2997.574558  ...    471.482176         951.620547
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18519.750000       0.000000  ...      0.000000           0.000000
50%    37061.500000       0.000000  ...     25.000000        1986.000000
75%    55656.500000      20.000000  ...    215.000000        2004.000000
max    74247.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 10 columns]

In [320]:
df['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [321]:
df['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [322]:
df['payment_type'].value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

In [323]:
df['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [324]:
df['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [325]:
df['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [326]:
df['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [327]:
df['source_class'].value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [328]:
df['quantity_group'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

In [329]:
df['quantity'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [330]:
df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [331]:
df['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [332]:
df['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [333]:
df['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [334]:
df['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [335]:
df['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [336]:
df['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

Drop similler columns

In [337]:
df.drop(columns=['management_group','scheme_management','quantity_group','source_class','source_type','quality_group',
                'payment_type','extraction_type_class','extraction_type', 'waterpoint_type_group'],inplace=True )

In [338]:
df['construction_year'].value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [339]:
df['construction_year'].replace(to_replace = 0, value = 1986, inplace=True)

In [340]:
df['decade'] = df['construction_year']

In [341]:
def decade_encode(df):
  df['decade'].replace(to_replace = (1960,1961,1962,1963,1964,1965,1966,1967,1968,1969),
                          value ='60s' , inplace=True)
  df['decade'].replace(to_replace = (1970,1971,1972,1973,1974,1975,1976,1977,1978,1979),
                          value ='70s' , inplace=True)
  df['decade'].replace(to_replace = (1980,1981,1982,1983,1984,1985,1986,1987,1988,1989),
                          value ='80s' , inplace=True)
  df['decade'].replace(to_replace = (1990,1991,1992,1993,1994,1995,1996,1997,1998,1999),
                          value ='90s' , inplace=True)
  df['decade'].replace(to_replace = (2000,2001,2002,2003,2004,2005,2006,2007,2008,2009),
                          value ='00s' , inplace=True)
  df['decade'].replace(to_replace = (2010,2011,2012,2013),
                          value ='10s' , inplace=True)
  
  return df

In [342]:
df=decade_encode(df)

In [343]:
df['recorded_by'].value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [344]:
df.drop(columns=['recorded_by'],inplace=True )

Fill missing values as "unknown"

In [345]:
df['installer'].fillna(value='Unknown',inplace=True)

In [346]:
df['installer'].value_counts().head(20)

DWE                   17402
Unknown                3658
Government             1825
RWE                    1206
Commu                  1060
DANIDA                 1050
KKKT                    898
Hesawa                  840
0                       777
TCRS                    707
Central government      622
CES                     610
Community               553
DANID                   552
District Council        551
HESAWA                  539
LGA                     408
World vision            408
WEDECO                  397
TASAF                   396
Name: installer, dtype: int64

In [347]:
df['installer'].replace(to_replace = '0', value ='Unknown' , inplace=True)

In [348]:
def installer_encode(df):
  df['installer'].replace(to_replace = ('District Water Department', 'District water depar','Distric Water Department'),
                          value ='District water department' , inplace=True)

  df['installer'].replace(to_replace = ('FinW','Fini water','FINI WATER'), value ='Fini Water' , inplace=True)
  df['installer'].replace(to_replace = 'JAICA', value ='Jaica' , inplace=True)

  df['installer'].replace(to_replace = ('COUN', 'District COUNCIL', 'DISTRICT COUNCIL','District Counci', 
                                        'District Council','Council','Counc','District  Council','Distri'),
                                      value ='District council' , inplace=True)

  df['installer'].replace(to_replace = ('RC CHURCH', 'RC Churc', 'RC','RC Ch','RC C', 'RC CH','RC church', 
                                        'RC CATHORIC',) , value ='RC Church' , inplace=True)

  df['installer'].replace(to_replace = ('Central Government','Tanzania Government',
                                        'central government','Cental Government', 'Cebtral Government', 
                                        'Tanzanian Government','Tanzania government', 'Centra Government' ,
                                        'CENTRAL GOVERNMENT', 'TANZANIAN GOVERNMENT','Central govt', 'Centr', 
                                        'Centra govt') , value ='Central government' , inplace=True)

  df['installer'].replace(to_replace = ('World vision', 'World Division','World Vision'),
                                          value ='world vision' , inplace=True)

  df['installer'].replace(to_replace = ('Unisef','UNICEF'),value ='Unicef' , inplace=True)
  df['installer'].replace(to_replace = 'DANID', value ='DANIDA' , inplace=True)

  df['installer'].replace(to_replace = ('villigers', 'villager', 'Villagers', 'Villa', 'Village', 'Villi', 
                                        'Village Council','Village Counil', 'Villages', 'Vill', 'Village community', 
                                        'Villaers', 'Village Community', 'Villag','Villege Council', 'Village council',
                                        'Village  Council','Villagerd', 'Villager', 'Village Technician',
                                        'Village Office','Village community members'),
                                          value ='villagers' , inplace=True)

  df['installer'].replace(to_replace =('Commu','Communit','commu','COMMU', 'COMMUNITY') ,
                                          value ='Community' , inplace=True)

  df['installer'].replace(to_replace = ('GOVERNMENT', 'GOVER', 'GOVERNME', 'GOVERM','GOVERN','Gover','Gove',
                                        'Governme','Governmen' ) ,value ='Government' , inplace=True)

  df['installer'].replace(to_replace = 'Hesawa' ,value ='HESAWA' , inplace=True)
  df['installer'].replace(to_replace = ('Colonial Government') , value ='Colonial government' , inplace=True)
  df['installer'].replace(to_replace = ('Government of Misri') , value ='Misri Government' , inplace=True)
  df['installer'].replace(to_replace = ('Italy government') , value ='Italian government' , inplace=True)
  df['installer'].replace(to_replace = ('British colonial government') , value ='British government' , inplace=True)
  df['installer'].replace(to_replace = ('Concern /government') , value ='Concern/Government' , inplace=True)
  df['installer'].replace(to_replace = ('Village Government') , value ='Village government' , inplace=True)
  df['installer'].replace(to_replace = ('Government and Community') , value ='Government /Community' , inplace=True)
  df['installer'].replace(to_replace = ('Cetral government /RC') , value ='RC church/Central Gover' , inplace=True)
  df['installer'].replace(to_replace = ('Government /TCRS','Government/TCRS') , value ='TCRS /Government' , inplace=True)
  df['installer'].replace(to_replace = ('ADRA /Government') , value ='ADRA/Government' , inplace=True)


  return df

In [349]:
df=installer_encode(df)

In [350]:
df['installer_cat'] = df['installer']

In [351]:
c_ins = ['DWE','Unknown','Government','Community','DANIDA','RWE','District council', 'Central government',
         'KKKT','HESAWA','TCRS', 'world vision', 'Fini Water', 'RC Church','villagers','LGA']


df.loc[~df["installer_cat"].isin(c_ins), "installer_cat"] = "Others"

Fill missing values as "unknown"

In [352]:
df['funder'].fillna(value='Unknown',inplace=True)
df['funder'].replace(to_replace = '0', value ='Unknown' , inplace=True)

In [353]:
df['funder_cat'] = df['funder'] 


c_fund = ['Danida','Unknown','Government Of Tanzania','Hesawa','Rwssp','World Bank','Kkkt', 'World Vision',
         'Unicef','Tasaf','District Council', 'Dhv', 'Private Individual', 'Dwsp','Norad','Germany Republi',
         'Tcrs','Ministry Of Water','Water','Dwe']
    

df.loc[~df["funder_cat"].isin(c_fund), "funder_cat"] = "Others"

In [354]:
df['longitude'].replace(to_replace = 0 , value =35.15, inplace=True)

In [355]:
df['wpt_name'].value_counts()

none                3563
Shuleni             1748
Zahanati             830
Msikitini            535
Kanisani             323
                    ...
Kwa Mama Tambala       1
Kwa Mzee Machia        1
Kwa Said Gama          1
Kwa Gotfried           1
Kiyangunde             1
Name: wpt_name, Length: 37400, dtype: int64

In [356]:
df['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [357]:
df['amount_tsh'].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [358]:
df['population'].value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [359]:
df['num_private'].value_counts()

0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

In [360]:
df['subvillage'].value_counts()

Madukani       508
Shuleni        506
Majengo        502
Kati           373
Mtakuja        262
              ...
Shangalawei      1
Getamama         1
Mburi 'A'        1
Kitosokoine      1
Mbughantira      1
Name: subvillage, Length: 19287, dtype: int64

In [361]:
df['scheme_name'].value_counts()

K                                     682
None                                  644
Borehole                              546
Chalinze wate                         405
M                                     400
                                     ...
Longuo water supply                     1
Kakonko/Mbizi gravity water supply      1
Namahimba water gravity scheme          1
Magawa Water Supply                     1
Kisa                                    1
Name: scheme_name, Length: 2696, dtype: int64

In [362]:
df.drop(columns=['wpt_name','scheme_name','region_code','amount_tsh','num_private','subvillage','id'],inplace=True )

In [363]:
df['population'].replace(to_replace = 0 , value =180, inplace=True)

Calculate the number of dates since recorded day and add new colum

In [364]:
df.date_recorded = pd.datetime(2013, 12, 3) - pd.to_datetime(df.date_recorded)
df.columns = ['days_since_recorded' if x=='date_recorded' else x for x in df.columns]
df.days_since_recorded = df.days_since_recorded.astype('timedelta64[D]').astype(int)
df.days_since_recorded.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

count    59400.000000
mean       613.616970
std        334.216374
min          0.000000
25%        297.000000
50%        419.000000
75%        977.000000
max       4068.000000
Name: days_since_recorded, dtype: float64

Fill missing values of public meeting and permit columns

In [365]:
df['public_meeting'].fillna(value=True,inplace=True)
df['permit'].fillna(value=True, inplace=True)

Drop columns

In [366]:
df.drop(columns=['funder','installer','construction_year','lga','ward'],inplace=True )

In [367]:
df1 = df.copy()

In [368]:
df1['permit'] = df1['permit'].astype(bool).astype(int)

In [369]:
df1['public_meeting'] = df1['public_meeting'].astype(bool).astype(int)

In [370]:
cat_col = ['basin','region','extraction_type_group','management','payment','water_quality','quantity',
               'source','waterpoint_type','decade','installer_cat','funder_cat']

In [371]:
num_col = ['gps_height','longitude','latitude','district_code','population','public_meeting','permit']

In [372]:
target='status_group'

In [374]:
def one_hot_encode(df,test,object_cols):
    
    OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
    OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(df[object_cols]))
    # print("dulaj")
    OH_cols_valid = pd.DataFrame(OH_encoder.transform(test[object_cols]))
  # One-hot encoding removed index; put it back
   
    OH_cols_train.index = df.index
    OH_cols_valid.index = test.index

  # Remove categorical columns (will replace with one-hot encoding)
    num_X_train = df.drop(object_cols, axis=1)
    num_X_valid = test.drop(object_cols, axis=1)

  # Add one-hot encoded columns to numerical features
    df = pd.concat([num_X_train, OH_cols_train], axis=1)
    test = pd.concat([num_X_valid, OH_cols_valid], axis=1)
    return df,test

## **To check the accuracy divide df1 data set into two parts**

In [375]:
used_cols = [c for c in df1.columns.tolist() if c not in [target]]
X=df1[used_cols]
y=df1[target]

In [376]:
X_train, y_train,= train_test_split(X,  test_size=0.2, random_state=42)
X_test, y_test = train_test_split( y, test_size=0.2, random_state=42)

In [377]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 3607 to 56422
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   days_since_recorded    47520 non-null  int64
 1   gps_height             47520 non-null  int64
 2   longitude              47520 non-null  float64
 3   latitude               47520 non-null  float64
 4   basin                  47520 non-null  object
 5   region                 47520 non-null  object
 6   district_code          47520 non-null  int64
 7   population             47520 non-null  int64
 8   public_meeting         47520 non-null  int64
 9   permit                 47520 non-null  int64
 10  extraction_type_group  47520 non-null  object
 11  management             47520 non-null  object
 12  payment                47520 non-null  object
 13  water_quality          47520 non-null  object
 14  quantity               47520 non-null  object
 15  source                 47520 non-null  object
 16  waterpoint_type        47520 non-null  object
 17  decade                 47520 non-null  object
 18  installer_cat          47520 non-null  object
 19  funder_cat             47520 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 7.6+ MB

In [378]:
columns=['basin','region','extraction_type_group','management','payment','water_quality','quantity',
               'source','waterpoint_type','decade','installer_cat','funder_cat']
train, train_test = one_hot_encode(X_train, y_train, columns)

In [379]:
model =RandomForestClassifier()
model.fit(train, X_test)
predictions = model.predict(train_test)
print(predictions)

['non functional' 'functional' 'functional' ... 'non functional'
 'non functional' 'functional']

In [389]:
accuracy_score(y_test, predictions)

# Test data set

In [381]:
df_test_set.drop(columns=['management_group','scheme_management','quantity_group','source_class','source_type','quality_group',
                'payment_type','extraction_type_class','extraction_type', 'waterpoint_type_group'],inplace=True )

df_test_set['decade'] = df_test_set['construction_year'] 

df_test_set['construction_year'].replace(to_replace = 0, value = 1986, inplace=True)

df_test_set= decade_encode(df_test_set)

df_test_set.drop(columns=['recorded_by'],inplace=True )

df_train_set['installer'].fillna(value='Unknown',inplace=True)
df_test_set['installer'].replace(to_replace = '0', value ='Unknown' , inplace=True)
df_test_set = installer_encode(df_test_set)
df_test_set['installer_cat'] = df_test_set['installer'] 
df_test_set.loc[~df_test_set["installer_cat"].isin(c_ins), "installer_cat"] = "Others"

df_test_set['funder'].fillna(value='Unknown',inplace=True)
df_test_set['funder'].replace(to_replace = '0', value ='Unknown' , inplace=True)
df_test_set['funder_cat'] = df_test_set['funder'] 
df_test_set.loc[~df_test_set["funder_cat"].isin(c_fund), "funder_cat"] = "Others"

df_test_set['longitude'].replace(to_replace = 0 , value =35.15, inplace=True)

df_test_set.drop(columns=['wpt_name','scheme_name','region_code','amount_tsh','num_private','subvillage','id'],inplace=True )

df_test_set['population'].replace(to_replace = 0 , value =180, inplace=True)

df_test_set.date_recorded = pd.datetime(2013, 12, 3) - pd.to_datetime(df_test_set.date_recorded)
df_test_set.columns = ['days_since_recorded' if x=='date_recorded' else x for x in df_test_set.columns]
df_test_set.days_since_recorded = df_test_set.days_since_recorded.astype('timedelta64[D]').astype(int)

df_test_set['permit'].fillna(value=True, inplace=True)

df_test_set['public_meeting'].fillna(value=True,inplace=True)

df_test_set.drop(columns=['funder','installer','construction_year','lga','ward'],inplace=True )

df1_test = df_test_set.copy()

df1_test['permit'] = df1_test['permit'].astype(bool).astype(int)

df1_test['public_meeting'] = df1_test['public_meeting'].astype(bool).astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [382]:
used_cols = [c for c in df1.columns.tolist() if c not in [target]]
X=df1[used_cols]
Y=df1_test
y=df1[target]

In [383]:
columns=['basin','region','extraction_type_group','management','payment','water_quality','quantity',
               'source','waterpoint_type','decade','installer_cat','funder_cat']
train, test = one_hot_encode(X, Y, columns)

In [384]:
train.head()

   days_since_recorded  gps_height  longitude   latitude  ...  132  133  134  135
0                  995        1390  34.938093  -9.856322  ...  0.0  0.0  0.0  0.0
1                  272        1399  34.698766  -2.147466  ...  0.0  0.0  0.0  0.0
2                  281         686  37.460664  -3.821329  ...  0.0  0.0  0.0  0.0
3                  309         263  38.486161 -11.155298  ...  0.0  0.0  0.0  0.0
4                  874           0  31.130847  -1.825359  ...  0.0  0.0  0.0  0.0

[5 rows x 144 columns]

In [385]:
test.head()

   days_since_recorded  gps_height  longitude   latitude  ...  132  133  134  135
0                  302        1996  35.290799  -4.059696  ...  0.0  0.0  0.0  0.0
1                  302        1569  36.656709  -3.309214  ...  0.0  0.0  0.0  0.0
2                  305        1567  34.767863  -5.004344  ...  1.0  0.0  0.0  0.0
3                  315         267  38.058046  -9.418672  ...  0.0  0.0  0.0  0.0
4                  251        1260  35.006123 -10.950412  ...  0.0  0.0  0.0  0.0

[5 rows x 144 columns]

In [386]:
model = RandomForestClassifier()
model.fit(train, y)
predictions = model.predict(test)
print(predictions)

['functional' 'functional' 'functional' ... 'functional' 'functional'
 'non functional']

In [387]:
column_names = ["id", "status_group"]
submission_dataset = pd.DataFrame(columns = column_names)
submission_dataset["id"] = df_test_set_value["id"]
submission_dataset.head()
np.testing.assert_array_equal(test.index.values, submission_dataset.index.values)
submission_dataset["status_group"] = predictions
print(submission_dataset.head())
submission_dataset.to_csv('pump_it_up_submission9.csv', index=False)
print(submission_dataset.columns)

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional
Index(['id', 'status_group'], dtype='object')

In [388]:
from google.colab import files
files.download('pump_it_up_submission9.csv')